body{
  font-family: sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  margin: 0;
  display: flex;
  padding: 20px;
  min-width: 320px;
  min-height: 100vh;
}
.container{
  display: flex;
  flex-direction: column;
}
.btn-container{
  display: flex;
  gap: 20px;
  align-items: center;
}
.btn-container button{
  background-color: #1a1a1a;
  border: none;
  color: white;
  font-weight: bold;
  padding: 15px;
  min-width: 80px;
  border-radius: 5px;
  cursor: pointer;

}

button.selected{
  background-color: orange;
}